# problem 1

In [62]:
# file opening
germplasmacc = open("/home/osboxes/Course/Accelerated_Intro_WilkinsonExams/Germplasm.tsv", "r") # open the file with the data
germplasmacc.seek(0) # to start reading the file again, just in case


locusacc = open("/home/osboxes/Course/Accelerated_Intro_WilkinsonExams/LocusGene.tsv", "r") # open the file with the data
locusacc.seek(0)

germplasmacc

0

# Problem 2: Design and create the database.

    It should have two tables - one for each of the two data files.
    The two tables should be linked in a 1:1 relationship
    you may use either sqlMagic or pymysql to build the database

In [17]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [185]:
%sql drop database exam2
%sql CREATE DATABASE exam2
%sql show databases
%sql use exam2
%sql CREATE TABLE germplasm(id INTEGER NOT NULL PRIMARY KEY AUTO_INCREMENT, locus VARCHAR(9) NOT NULL, germplasm VARCHAR(50) NOT NULL, phenotype VARCHAR(1000) NOT NULL, pubmed INTEGER NOT NULL)
%sql describe germplasm
%sql CREATE TABLE locusgene(id INTEGER NOT NULL PRIMARY KEY AUTO_INCREMENT, locus VARCHAR(9) NOT NULL, gene VARCHAR(10) NOT NULL, protein_length INTEGER NOT NULL, gp_id INT NOT NULL)
%sql describe locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
9 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('locus', 'varchar(9)', 'NO', '', None, ''),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('protein_length', 'int(11)', 'NO', '', None, ''),
 ('gp_id', 'int(11)', 'NO', '', None, '')]

>

# Problem 3: Fill the database

Using pymysql, create a Python script that reads the data from these files, and fills the database. There are a variety of strategies to accomplish this. I will give all strategies equal credit - do whichever one you are most confident with.

In [186]:
import pymysql.cursors  
 
# Connect to the database.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',                             
                             db='exam2',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
 
print ("connect successful!!")
# okay, this worked! we are connected to mysql now

#file opening

germplasmacc = open("/home/osboxes/Course/Accelerated_Intro_WilkinsonExams/Germplasm.tsv", "r") # open the file with the data
germplasmacc.seek(0) # to start reading the file again, just in case
germplasmacc.readline() # to skip the first line

locusacc = open("/home/osboxes/Course/Accelerated_Intro_WilkinsonExams/LocusGene.tsv", "r") # open the file with the data
locusacc.seek(0)
locusacc.readline() # to skip the first line

import re # to use the regexp

try:
    # try will attemp to do what it says inside
    with connection.cursor() as cursor: # with: allows to safely exit the db if something goes wrong or in the end
        
        #loop for germplasm table:
        for line in germplasmacc.readlines(): # create the loop to read every line in the TSV, read lines
            line = line.rstrip()
            germplasmacc.readline()
            locus,germplasm,phenotype,pubmed = line.split('\t')# Read a single record
            pubmed = int(pubmed)
            sql = "insert into germplasm(locus,germplasm,phenotype,pubmed) values('%s', '%s', '%s', '%s')" % (locus,germplasm,phenotype,pubmed)
            cursor.execute(sql)                
        gp_id = 1    
        #loop for germplasm table:
        for line in locusacc.readlines(): # create the loop to read every line in the TSV, read lines

            line = line.rstrip()
            locusacc.readline()
            locus,gene,protein_length = line.split('\t')# Read a single record
            protein_length = int(protein_length)
           
            sql = "insert into locusgene(locus,gene,protein_length,gp_id) values('%s', '%s', '%s', '%s')" % (locus,gene,protein_length, gp_id)
            cursor.execute(sql)
            gp_id +=1
                
        germplasmacc.close()
        locusacc.close()
        
finally:
    print("")
    connection.commit()
    connection.close()

connect successful!!

In [187]:
%sql SELECT * from locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[(1, 'AT1G01040', 'DCL1', 332, 1),
 (2, 'AT1G01060', 'LHY', 290, 2),
 (3, 'AT1G01140', 'CIPK9', 223, 3),
 (4, 'AT1G01220', 'FKGP', 190, 4),
 (5, 'AT2G03720', 'MRH6', 189, 5),
 (6, 'AT2G03800', 'GEK1', 196, 6),
 (7, 'AT2G04240', 'XERICO', 256, 7),
 (8, 'AT2G05210', 'POT1A', 221, 8),
 (9, 'AT3G02130', 'RPK2', 284, 9),
 (10, 'AT3G02140', 'TMAC2', 300, 10),
 (11, 'AT3G02230', 'RGP1', 301, 11),
 (12, 'AT3G02260', 'BIG', 279, 12),
 (13, 'AT3G02310', 'SEP2', 175, 13),
 (14, 'AT3G02680', 'NBS1', 190, 14),
 (15, 'AT3G02850', 'SKOR', 234, 15),
 (16, 'AT3G02870', 'VTC4', 311, 16),
 (17, 'AT3G03260', 'HDG8', 194, 17),
 (18, 'AT4G14790', 'SUV3', 312, 18),
 (19, 'AT4G15210', 'BAM5', 313, 19),
 (20, 'AT4G15560', 'DXS', 219, 20),
 (21, 'AT4G15570', 'MAA3', 294, 21),
 (22, 'AT4G15802', 'HSBP', 254, 22),
 (23, 'AT4G15880', 'ESD4', 265, 23),
 (24, 'AT4G16420', 'ADA2B', 279, 24),
 (25, 'AT4G16480', 'INT4', 284, 25),
 (26, 'AT5G10480', 'PAS2', 301, 26),
 (27, 'AT5G10510', 'AIL6', 310, 27),
 (28, 'AT5G11110', 'SPS2', 232, 28),
 (29, 'AT5G11260', 'HY5', 221, 29),
 (30, 'AT5G11510', 'MYB3R-4', 336, 30),
 (31, 'AT5G12200', 'PYD2', 310, 31),
 (32, 'AT5G13290', 'CRN', 189, 32)]

# Problem 4: Create reports, written to a file

    Create a report that shows the full, joined, content of the two database tables (including a header line)

    Create a joined report that only includes the Genes SKOR and MAA3

    Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

    Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule!

All reports should be written to the same file. You may name the file anything you wish.

In [188]:
%sql SELECT * FROM locusgene, germplasm WHERE \
     locusgene.gp_id = germplasm.id;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[(1, 'AT1G01040', 'DCL1', 332, 1, 1, 'AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', 17369351),
 (2, 'AT1G01060', 'LHY', 290, 2, 2, 'AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', 16891401),
 (3, 'AT1G01140', 'CIPK9', 223, 3, 3, 'AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', 17486125),
 (4, 'AT1G01220', 'FKGP', 190, 4, 4, 'AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', 18199744),
 (5, 'AT2G03720', 'MRH6', 189, 5, 5, 'AT2G03720', 'SALK_042433', 'Multiple straight hairs', 16367956),
 (6, 'AT2G03800', 'GEK1', 196, 6, 6, 'AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', 15215505),
 (7, 'AT2G04240', 'XERICO', 256, 7, 7, 'AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', 17933900),
 (8, 'AT2G05210', 'POT1A', 221, 8, 8, 'AT2G05210', 'pot1-1', 'No visible phenotype.', 17627276),
 (9, 'AT3G02130', 'RPK2', 284, 9, 9, 'AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', 17419837),
 (10, 'AT3G02140', 'TMAC2', 300, 10, 10, 'AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', 18484180),
 (11, 'AT3G02230', 'RGP1', 301, 11, 11, 'AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', 21478444),
 (12, 'AT3G02260', 'BIG', 279, 12, 12, 'AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', 17586653),
 (13, 'AT3G02310', 'SEP2', 175, 13, 13, 'AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', 10821278),
 (14, 'AT3G02680', 'NBS1', 190, 14, 14, 'AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', 17672843),
 (15, 'AT3G02850', 'SKOR', 234, 15, 15, 'AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770),
 (16, 'AT3G02870', 'VTC4', 311, 16, 16, 'AT3G02870', 'vtc4-1', 'ascorbate deficient', 16595667),
 (17, 'AT3G03260', 'HDG8', 194, 17, 17, 'AT3G03260', 'hdg8-1', 'No visible phenotype.', 16778018),
 (18, 'AT4G14790', 'SUV3', 312, 18, 18, 'AT4G14790', 'pdd17', 'Defective pollen development.', 19237690),
 (19, 'AT4G15210', 'BAM5', 313, 19, 19, 'AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', 16297066),
 (20, 'AT4G15560', 'DXS', 219, 20, 20, 'AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', 10982425),
 (21, 'AT4G15570', 'MAA3', 294, 21, 21, 'AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186),
 (22, 'AT4G15802', 'HSBP', 254, 22, 22, 'AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', 20388662),
 (23, 'AT4G15880', 'ESD4', 265, 23, 23, 'AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', 17513499),
 (24, 'AT4G16420', 'ADA2B', 279, 24, 24, 'AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', 12747832),
 (25, 'AT4G16480', 'INT4', 284, 25, 25, 'AT4G16480', 'atint4-2', 'No visible phenotype.', 16603666),
 (26, 'AT5G10480', 'PAS2', 301, 26, 26, 'AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', 18799749),
 (27, 'AT5G10510', 'AIL6', 310, 27, 27, 'AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', 17960244),
 (28, 'AT5G11110', 'SPS2', 232, 28, 28, 'AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', 18779216),
 (29, 'AT5G11260', 'HY5', 221, 29, 29, 'AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', 16891401),
 (30, 'AT5G11510', 'MYB3R-4', 336, 30, 30, 'AT5G11510', 'myb3r4-1', 'No visible phenotype.', 17287251),
 (31, 'AT5G12200', 'PYD2', 310, 31, 31, 'AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', 19413687),
 (32, 'AT5G13290', 'CRN', 189, 32, 32, 'AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', 12345678)]

Create a joined report that only includes the Genes SKOR and MAA3

In [209]:
import re
%sql SELECT * FROM locusgene,germplasm WHERE gene LIKE ('SKOR') AND locusgene.gp_id = germplasm.id UNION SELECT * FROM locusgene,germplasm WHERE gene LIKE ('MAA3') AND locusgene.gp_id = germplasm.id

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[(15, 'AT3G02850', 'SKOR', 234, 15, 15, 'AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770),
 (21, 'AT4G15570', 'MAA3', 294, 21, 21, 'AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186)]

Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

In [234]:
%sql SELECT COUNT(*) AS "Number Of entries (ordered)" FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id WHERE locusgene.locus LIKE "AT1%" UNION SELECT COUNT(*) AS "Number Of entries" FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id WHERE locusgene.locus LIKE "AT2%" UNION SELECT COUNT(*) AS "Number Of entries" FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id WHERE locusgene.locus LIKE "AT3%" UNION SELECT COUNT(*) AS "Number Of entries" FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id WHERE locusgene.locus LIKE "AT4%" UNION SELECT COUNT(*) AS "Number Of entries" FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id WHERE locusgene.locus LIKE "AT5%"

# AT1G and AT2G have 4 entries but the code only shows one result

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[(4,), (9,), (8,), (7,)]

>
>






Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

In [257]:
%sql SELECT AVG(locusgene.protein_length) FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id where locusgene.locus LIKE "AT1%" UNION SELECT AVG(locusgene.protein_length) FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id where locusgene.locus LIKE "AT2%" UNION SELECT AVG(locusgene.protein_length) FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id where locusgene.locus LIKE "AT3%" UNION SELECT AVG(locusgene.protein_length) FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id where locusgene.locus LIKE "AT4%" UNION SELECT AVG(locusgene.protein_length) FROM locusgene RIGHT JOIN germplasm ON \
     locusgene.gp_id = germplasm.id where locusgene.locus LIKE "AT5%"

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[(Decimal('258.7500'),),
 (Decimal('215.5000'),),
 (Decimal('252.0000'),),
 (Decimal('277.5000'),),
 (Decimal('271.2857'),)]